services:       

  norelational_db:
    build:
      context: ./norelational_db
    image: norelational_db_image
    container_name: norelational_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root  ### no relational_db username
      MONGO_INITDB_ROOT_PASSWORD: root  ### no relational_db password
    ports:
      - "27017:27017"
    volumes:
      - ./volumes/mongo_news_LLM:/data/db
    networks:
      - network_news

  vector_db:
    build:
      context: ./vector_db
    image: vector_db_image
    container_name: vector_db
    ports:
      - "8001:8000"
    volumes:
      - ./volumes/chroma-data:/root/.chromadb
    networks:
      - network_news

  data_engine:
    build:
      context: ./data_engine
    image: data_engine_image
    container_name: data_engine
    volumes:
      - ./volumes/data_engine:/app
    depends_on:
      - norelational_db     
    ports:
      - "5009:5000"
    networks:
      - network_news

  context_manager:
    build:
      context: ./context_manager
    image: context_manager_image
    container_name: context_manager
    depends_on:
      - norelational_db     
    ports:
      - "6001:7000"
    networks:
      - network_news
   
networks:
  network_news:
    external: true


